/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 7, ../sass/screen.scss */
body {
  width: 80%;
  margin: auto;
  font-family: sans-serif;
}
/* line 12, ../sass/screen.scss */
body #nav {
  font-size: 10px;
  color: gray;
  padding: 1em;
}
/* line 18, ../sass/screen.scss */
body #header {
  padding-bottom: 0.25em;
  border-bottom: 1px solid gray;
}
/* line 23, ../sass/screen.scss */
body #main {
  margin-top: 0.25em;
  line-height: 1.5;
}
/* line 27, ../sass/screen.scss */
body #main h4 {
  color: #4d4d4d;
}
/* line 30, ../sass/screen.scss */
body #main .screen_shot {
  max-width: 30%;
  border: 1px solid gray;
}
/* line 35, ../sass/screen.scss */
body #main .note {
  color: #333333;
  font-style: italic;
}
/* line 39, ../sass/screen.scss */
body #main .example {
  border-radius: 1em;
  font-size: 80%;
  line-height: 1.6;
  margin: 2em 0;
  padding: 2.5em;
  background: #F0F2F4;
  overflow: auto;
  font-family: monospace;
}
