/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 7, ../sass/screen.scss */
body {
  width: 80%;
  margin: auto;
  font-family: sans-serif;
}
/* line 12, ../sass/screen.scss */
body #header {
  padding: 2em 0 1em 0;
}
/* line 16, ../sass/screen.scss */
body #main {
  line-height: 1.5;
}
